
<nav>
    <a class="brand" routerLink="/">
        <img src="/assets/brinde.png" alt="Moments">
        <h2>Moments</h2>
    </a>
    <ul class="links">
        <li><a routerLink="/">Home</a></li> <!--Direciona para a Home  (declarada em app-routing.modules.ts)-->
        <li id="add"><a routerLink="/moments/new">Compartihar</a></li> <!--Direciona para a moments new  (declarada em app-routing.modules.ts)-->
        <li><a routerLink="/about">Sobre</a></li> <!--Direciona para a pagina about (declarada em app-routing.modules.ts)-->
    </ul>
</nav>
